.pdf-container {
  //   height: 842px;
  //   height: 421px; // 842/2
  //   height: 561.333333333px; // 842/1.5
  height: 601.428571429px; // 842/1.4
  //   width: 595px;
  //   width: 297.5px;   // 595/2
  //   width: 396.66666666px;   // 595/1.5
  width: 425px; // 595/1.4
  margin-top: 10%;
  border: solid 1px #163a9a;
}
