
.enquiry-list-div {
    padding-top: 8vh;
    padding-left: 50px;
    .enquiry-list-head {
    font-size: 24px;
        font-weight: 600;
        color: #163a9a;
    }
    .enquiry-list-body {
        width: 98%;
        height: 85vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 5px;
        padding-right: 15px;
        .enquiry-list-card {
            height: 130px;
            border-radius: 5px;
            background-color: white;
            box-shadow: 2px 2px 18px #888888;
            margin: 15px 15px;
            padding: 5px;
            padding-right: 0;
            border-top: solid 5px #163a9a;
           .enquiry-list-card-small {
            .enquiry-list-card-head {
            color: #163a9a;
            font-weight: 600;
            height: 90px;
            .org-head {
                text-align: center;
            }
            .item-div {
                display: flex;
                justify-content: center;
                font-size: 12px;
                font-weight: 500;
                flex-wrap: wrap;
            }
            }
            .enquiry-list-card-body {
                .items{
                    font-size: 14px;
                    width: 100%;
                .enquiry-number {
                    min-width: 150px;
                    text-align: right;
                    .enquiry-status {
                        font-weight: 500;
                        font-size: 13px;
                        margin-right: 5px;
        font-weight: 600;
                    }
                }
            }
            .down-arrow {
                width: 100%;
                font-size: 14px;
        text-align: right;
                color: #727272;
                cursor: pointer;
                span {
                    position: relative;
                    top: -8px;
                }
            }
            .down-arrow:hover {
                color: #C2C2C2;
            }
            }
        }
        .enquiry-list-card-large {
            .enquiry-list-card-head {
                display: flex;
                justify-content: space-between;
                color: #163a9a;
                font-weight: 600;
                }
                .enquiry-list-card-sub-head {
                    color: #163a9a;
                    font-weight: 600;
                    text-align: center;
                    font-size:18px;
                }
                .enquiry-list-card-body {
                    .date-items{
                        display: flex;
                        justify-content: space-between;
                }
                .items-doc-body {
                    display: flex;
                    .items-div {
                        width: 49%;
                        border-right: solid 2px #163a9a;
                        .item {
                            font-size: 13px;
                            border: solid 1px #163a9a;
                            border-radius: 5px;
                            padding: 5px;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            .item-info {
                                display: flex;
                                justify-content: space-between;
                                .item-enquiry-standard {
                                    min-width: 130px;
                                }
                            }
                            .item-description {
                                font-size: 13px;
                            }
                            .item-destination {
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                    .doc-div {
                        font-size: 13px;
                        width: 49%;
                        .enquiry-documents {
                            display: flex;
                             flex-wrap: wrap;
                            border: solid 1px #163a9a;
                            border-radius: 5px;
                            margin: 5px;
                        margin-top: 0;
                        padding: 5px;
                        .document-files {
                            display: flex;
                            padding: 0px 5px;
                            cursor: pointer;
                            .pdf-icon {
                                height: 10px;
                                width: 10px;
                                color: #163a9a;
                            }
                            .file-name {
                                height: 15px;
                                max-width: 150px;
                                word-break: break-all;
                                overflow: hidden;
                            }
                        } 
                        .document-files:hover {
                            .file-name { 
                            max-width: 100%;
                            color: #163a9a;
                            text-decoration: underline;
                            }
                        }
                        }
                    }
                }
                .final-content {
                    display: flex;
                    .edit-div {
                        width: 10%;
                        font-size: 14px;
                                color: #727272;
                                cursor: pointer;
                                span {
                                    position: relative;
                                    top: -8px;
                                }
                    }
                    .approval-div {
                        width: 80%;
                        display: flex;
                        justify-content: space-around;
                        color: #F2F2F2;
                        .div {
                        display: flex;
                        .approval {
                            margin-right: 5px;
                            padding: 5px;
                            background: darkgreen;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .approval:hover {
                            
                            background: green;
                        }
    
                        .decline {
                            padding: 5px;
                            background: darkred;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        .decline:hover {
                            
                            background: red;
                        }
                        .document-prepare {
                                background-color: #163a9a;
                                padding: 5px;
                                border-radius: 5px;
                                
                            border: solid 1px #163a9a;
                                cursor: pointer;
                        }
                        .document-prepare:hover {
                            background-color: #003cd9;
                            color: white;
                    }
                    }
                    }
                .down-arrow {
                    width: 100px;
                    font-size: 14px;
            text-align: right;
                    color: #727272;
                    cursor: pointer;
                    span {
                        position: relative;
                        top: -8px;
                    }
                }
                .down-arrow:hover {
                    color: #C2C2C2;
                }
            }
                }
        }
        }
    }
    }
    
    
    // scroll bar css
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #C2C2C2;
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #525252;
      }
      //end of scroll bar css
      //colors
      .grey {
          color: #525252;
      }
      .blue-bold {
        color:#163a9a;
        font-weight: 600;
    }
      .blue {
          color:#163a9a;
      }
      .light-blue-color {
        color: #3068b0 !important;
    }
      .red {
          color: red;
      }
      .green {
        color: green;
    }
      .orange {
          color: orange;
      }
    
      // border-color
    
      .light-blue-border-color {
        border-top: solid 5px #3068b0 !important;
    }
    .red-border-color {
        border-top: solid 5px red !important;
    }
    .green-border-color {
        border-top: solid 5px green !important;
    }
    .orange-border-color {
        border-top: solid 5px orange !important;
    }
    .flex {
        display: flex;
    }
    .flex-wrap {
        flex-wrap:wrap;
    }

    .width-30 {
        width: 30%;
    }
    .width-100 {
        width: 100%;
    }
    .height-auto {
        height: auto !important;
    }