*:focus {
  outline: none;
}
::placeholder {
  color: #163a9a;
}
.login-page {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.login-div {
  min-height: 100vh;
  overflow: hidden;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.login-logo {
  // padding-bottom: 50px;
  // padding-left: 3px;
}
.header_logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.login-head {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #163a9a;
}
.login-username {
  margin-top: 40px;
}
.login-password {
  margin-bottom: 40px;
}
.login-page-input {
  width: 280px;
  height: 40px;
  border: solid 1px #163a9a;
  border-radius: 5px;
  margin: 5px;
  color: #163a9a;
  font-size: 15px;
  padding-left: 10px;
}

.login-page-button {
  width: 160px;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #163a9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
}
.login-submitbutton :hover {
  color: #163a9a;
  background-color: white;
  border: solid 1px #163a9a;
}
.login-page-google-button {
  width: 290px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #163a9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 40px;
}
.login-google {
  text-align: center;
  width: 400px;
  padding-top: 50px;
  // margin-bottom: 200px;
  border-bottom: solid 1px #163a9a;
}
.login-google :hover {
  color: #163a9a;
  background-color: white;
  border: solid 1px #163a9a;
}

.content-div {
  flex-basis: 60%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #163a9a;
}
.icon-poles-div {
  height: 430px;
  overflow: hidden;
}
.icon-poles {
  height: 400px;
  width: 550px;

  float: left;
  transform: scale(-1, 1);
}
.icon-trans-div {
  height: 355px;
  overflow: hidden;
}
.icon-trans {
  float: right;
  height: 400px;
  width: 400px;
}

.over-lay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(50, 56, 56, 0.8);
}
.user-already-logged {
  position: relative;
  top: 40%;
  margin: auto;
  vertical-align: middle;
  height: 200px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-top: 30px;
}
.user-name {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #163a9a;
}
.user-email {
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #163a9a;
}
.user-login-feedback {
  margin-top: 40px;
}
.user-login-feedback-button {
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border: solid 1px #163a9a;
  background: white;
  height: 40px;
  width: 70px;
  color: #163a9a;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.user-login-feedback-button:hover {
  background-color: #163a9a;
  color: white;
}
.icon-logo {
  fill: #163a9a;
  width: 200px;
  height: 200px;
  opacity: 0;
  svg {
    // overflow: visible;
  }
}
#Group {
  fill: #163a9a;
}
