.new-enquiry-div {
    padding-top: 8vh;
    padding-left: 25px;
    .new-enquiry-head-div {
        font-size: 24px;
    font-weight: 600;
    color: #163a9a;
    }
    .new-enquiry-body {
        width: 98%;
        height: 85vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 5px;
        padding-right: 15px;
    .info-div {
        .info-header {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
          color: #163a9a;
          border-bottom: solid 1px #163a9a;
          padding-top: 30px;
          display: flex;
          justify-content: space-between;
        }
        .info-body {
            margin-top: 20px;
            margin-left: 20px;
            .org-div {
              .org-label {
                font-size: 18px;
                max-width: 250px;
              }
              .org-input {
                .org-name {
                  min-width: 500px;
                  height: 25px;
                  font-size: 18px;
                  border: solid 1px;
                  border-radius: 5px;
                  margin-top: 8px;
                }
              }
            }
            .tender-date-div {
                margin-top: 30px;
                .tender-date {
                  display: flex;
                  flex-wrap: wrap;
    width: 350px;
                  height: 40px;
                  .tender-date-label {
                    font-size: 16px;
                    padding-top: 5px;
                  }
                  .tender-date-input {
                    border: solid 1px;
                    border-radius: 5px;
                    width: 120px;
                    height: 25px;
                    margin-left: 5px;
                    font-size: 18px;
                    text-align: right;
                  }
                  .calander {
                    margin-right: 20px;
                    button {
                      background-color: white;
                      border: solid 1px;
                      border: none;
                      cursor: pointer;
                      padding: 0;
                      .calander-button {
                        color: #163a9a;
                        padding: 3px;
                        padding-left: 5px;
                        padding-right: 5px;
                      }
                    }
                  }
                }
              }
              .employee-div {
                .name-input {
                  min-width: 250px;
    height: 25px;
    font-size: 18px;
    border: solid 1px;
    border-radius: 5px;
    margin-top: 8px;
                }
              }
              .description {
                padding-top: 30px;
                .description-lable {
  
                }
                .description-text {
                  textarea {
                  height: 45px;
      width: 600px;
      font-size: 18px;
                  }
                }
              }
              .price-table {
                background-color: #f2f2f2;
                border-radius: 2px;
                border: solid 1px #163a9a;
                margin-top: 20px;
                .price-table-head {
                }
                .s-no { 
                    width: 4%;
                    text-align: center;
                      }
                .item-description {
                  width: 25%;
                  text-align: center;
                }
                .rating {
                  width: 5%;
                  text-align: center;
                }
                .class {
                  width: 8%;
                  text-align: center;
                }
                .class-hv {
                  width: 45px;
                  margin-left: 13px;
                }
                .class-lv {
                  width: 45px;
                }
                .type {
                  width: 5%;
                  text-align: center;
                  .type-select {
                    margin-top: 10px;
                    width: 105%;
                  }
                }
                .standard {
                  width: 8%;
                  text-align: center;
                  .standard-select {
                    margin-top: 10px;
                    width: 105%;
                  }
                }
                .tap-variation {
                  width: 5%;
                  text-align: center;
                  .tap-variation-select {
                    margin-top: 10px;
                    width: 105%;
                  }
                }
                .terminal {
                  width: 12%;
                  text-align: center;
                }
                .terminal-hv {
                  margin-left: 12px; 
                }
                .qty {
                  width: 3%;
                  text-align: center;
                }
                .remark {
                  width: 15%;
                  text-align: center;
                }
                
                .add-item {
                  .add-button {
                    width: fit-content;
                    background-color: darkgrey;
                    color: grey; 
                    margin-left: 5px;
                    border: solid 1px grey;
                    cursor: pointer;
                  }
                  .add-button:hover {
                    background-color: grey;
                    color: black;
                  }
                  .remove-item {
                    .remove-button {
                    width: fit-content;
                    background-color: darkgrey;
                    color: grey; 
                    margin-left: 5px;
                    border: solid 1px grey;
                    cursor: pointer;
                    }
                    .remove-button:hover {
                      background-color: grey;
                      color: black;
                    }
                  }
                }
              }
        }
    }
    .submit {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 18px;
      .submit-button {
        margin-top: 50px;
        width: fit-content;
padding: 5px 10px;
border-radius: 5px;
color: white;
background-color: #163a9a;
border: solid 1px #163a9a;
cursor: pointer;
      }
      .submit-button:hover {
        background-color: #003cd9;
      }
    }
    .upload-div {
      display: flex;
      margin-top: 40px;
      .upload-input-div {
        border: dotted 3px grey;
        width: 420px;
  height: 150px;
        .upload-input-lable {
          word-break: keep-all;
          height: 0px;
          position: relative;
          left: 120px;
          top: 60px;
          font-size: 18px;
          font-weight: 600;
          color: grey;
        }
        .upload-input {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
      .files-div {
        display: flex;
        width: 350px;
        flex-wrap: wrap;
        .files {
          width: 68px;
          height: 68px;
          overflow: hidden;
          padding: 10px;
          cursor: pointer;
          .pdf-icon {
            // margin: auto;
            height: 50px;
            width: 50px;
            color: #163a9a;
          }
          .cloud-cross-icon {
            height: 0px;
            width: 0px;
          }
          p {
            margin: 0;
            color: #163a9a;
            font-size: 11px;
          }
        }
        .files:hover {
          .cloud-cross-icon {
            height: 16px;
            width: 16px;
            color: #163a9a;
            position: relative;
            top: -40px;
            left: -10px;
          }
        }
      }
    }
  }
}
.add-organization {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  .back {
    .back-button {
      position: fixed;
      fill: #163a9a;
      stroke: white;
      stroke-width: 10px;
      height: 70px;
      width: 70px;
      margin-left: 20px;
      margin-top: 20px;
      cursor: pointer;
    }
    .back-button:hover {
      fill: white;
      stroke: #163a9a;
      stroke-width: 20px;
    }
  }
  .add-organization-div {
    position: fixed;
    margin: auto;
    background-color: white;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 45%;
    .add-organization-header {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      height: 0px;
      .cross {
        padding: 6px;
        border-radius: 5px;
        font-size: 14px;
        
        border: solid 1px #163a9a;
float: right;
cursor: pointer;
color: white;
background-color: #163a9a;
      }
      .cross:hover {
        background-color: #003cd9;
      }
      .cross:active {     
color: #163a9a;
background-color: white;
      }
    }
    .add-organization-body {     
      margin: 10px;
      margin-top: 25px;
      padding: 0px 40px;
    .add-organization-head {
      color: #163a9a;
      font-size: 20px;
    height: 35px;
      font-weight: 600;
    }
    .contact-details {
      width: fit-content;
      // float: left;
    }
    .add-organization-inputs {
      display: flex;
      .full-name-div {
width: 60%;
      }
      .add-organization-dash {
        width: 15px;
        text-align: center;
    align-self: center;
    color: #163a9a;
    padding-top: 10px;
    margin-left: 5px;
      }
      .lables {
        color: #163a9a;
        font-weight: 600;
      }
      .name-input {
        height: 25px;
        width: 100%;
        border: solid 1px #163a9a;
        border-radius: 5px;
      }
      .address-div {
margin-top: 10px;
      }
      .address-input {
        width: 175px;
    height: 125px;
      }
      .contact-person-div {
        margin-top: 10px;
        margin-left: 25px;
      }
      .gender-div {
        margin-top: 10px;
        margin-left: 25px;
        font-size: 16px;
      }
    }
    .add-organization-submit {
      .add-organization-submit-button {
        width: fit-content;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            background-color: #163a9a;
            border: solid 1px #163a9a;
            cursor: pointer;
            float: right;
    margin-right: 12%;
          }
          .add-organization-submit-button:hover {
            background-color: #003cd9;
          }
          .add-organization-submit-button:active {
            color: #163a9a;
            background-color: white;
          }
        }
    }
  }
}


.app-calander {
    z-index: 1;
  }
  .flex {
    display: flex;
  }
  .justify-content-sapce-between {
    justify-content: space-between;
  }
  .header {
    width: 100%;
              font-size: 20px;
              font-weight: 600;
              color: #163a9a;
              border-bottom: solid 1px #163a9a;
              padding-top: 30px;
              display: flex;
              justify-content: space-between;
  }
  .sub-header {
    font-size: 18px;
  }
  .margin-auto {
    margin: auto;
  }
  .margin-5 {
    margin: 5px;
  }
  .padding-0 {
    padding: 0px;
  }
  .padding-top-20 {
  padding-top: 20px;
  }
  .padding-top-10 {
    padding-top: 10px;
    }
  .height-40 {
    height: 30px;
  }
  .height-20 {
    min-height: 20px;
  }
  .white-bkgd {
    background-color: white;
    border-radius: 2px;
    border: solid 1px #163a9a;
  }

  .transperent-bkgd {
    border-radius: 2px;
    border: solid 1px #f2f2f2;
  }

  .red-border {
    border-color: red !important;
  }
  .red-color {
    color: red !important;
  }