<div class="nav">
<app-logo class="logo" [type]="'internal-page'"></app-logo>
<div class="tabs">
    <div class="tab-div" *ngIf="!routingService.loadingFlag">
    <div class="tab" *ngFor="let tab of routingService.rightTabs; let i = index" [ngClass]="{'tab-active': tab.flag && tab.sub,'hide': tab.flag && !  tab.sub}" (click)="tabSwitch(i,0)" >
      <div class="tab-name"   [ngClass]="{'hide': tab.flag}">{{ tab.name }}</div>
        <div class="tab-message"  [ngClass]="{'hide': tab.flag}">
          {{ tab.message }}
        </div>

      <div class="tab-sub-div" >
        <div class="sub-div" *ngIf="tab.sub && tab.flag">
        <div class="sub"  *ngFor="let sub of tab.sub; let j = index" (click)="tabSwitch(i,j)">
  <div class="sub-small-name">{{ sub.smallName }} </div>
  <div class="sub-name">{{ sub.name }}</div>
        </div>
        <div class="sub"  *ngIf="tab.sub.length > 4">
          <mat-icon class="right-arrow" svgIcon="right-arrow"></mat-icon>
          <div class="sub-name">ALL </div>
                </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
