.main {
  display: flex;
  justify-content: space-between;
  .pdf-view {
    width: 30%;
    height: 100vh;
  }
}
.header_logo {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
// app-pdf-preview {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   background-color: rgb(10, 10, 10, 0.8);
// }
