
<div class="container">
  <div class="header-div">
  <div class="header" (click)="backToTenderList()">
    {{ tenderService.tender.organization }} - {{ tenderService.tender.number }}
  </div>
  </div>
  <app-upload-documents class="app-upload-documents" *ngIf="false"></app-upload-documents>
  <app-covering-letter *ngIf="false"></app-covering-letter>
  <app-complete-tender></app-complete-tender>
  <!-- <app-pdf-view
    class="pdf-view"
    (click)="uploadFile($event)"
  ></app-pdf-view> -->
</div>
