<div class="upload-page">
    <div class="present-document" *ngIf="presentDocumentsFlag">
      <div class="page-sub-header flex space-between" >
       Documents
       <div class="present-document-upload-button" (click)="uploadDocumentFlag()">Upload Documents</div>
      </div>
      <div class="upload-documents">
        <div class="files-div">
          <div
            class="files"
            *ngFor="let file of tenderService.tender.files.uploadedDocuments; let i = index"
          >
            <mat-icon class="pdf-icon" svgIcon="pdf-icon"></mat-icon>
            <p class="file-name">{{ file.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="document-upload" *ngIf="!presentDocumentsFlag">
    <div class="page-sub-header  flex space-between">
      Upload Documents
      <div class="present-document-upload-button" (click)="uploadDocumentFlag()">Back</div>
    </div>
    <div class="upload-documents">
      <div class="upload-div">
        <div class="upload-input-lable">Drop Files to Upload</div>
      <input
              class="upload-input"
              type="file"
              (change)="detectFile($event)"
              multiple
            />
      </div>
      <div class="files-div">
        <div
          class="files"
          *ngFor="let file of allFiles; let i = index"
          (click)="deleteFile(i)"
        >
          <mat-icon class="pdf-icon" svgIcon="pdf-icon"></mat-icon>
          <mat-icon
            class="cloud-cross-icon"
            svgIcon="cloud-cross-icon"
          ></mat-icon>
          <p>{{ file.name }}</p>
        </div>
      </div>
      <div class="upload-submission">
       <div class="upload-button" (click)="uploadFiles()"> Upload Documents</div>
      </div>
      </div>
    </div>
  <div class="document-selection">
    <div class="page-sub-header"> Attatch Documents </div>
    <div class="common-attatchments" *ngIf="commonDocumentsFlag">
      <div class="common-attatchments-head">
        <div class="flex">Common Documents:
  <div class="selection-button" (click)="commonDocumentTypeChange('notarized')" [ngClass]="{ 'selection-button-active' :commonDocumentType == 'notarized'}">Notarized</div></div>
  <div class="selection-button" (click) = "commonAddDocuments()"> Add document </div>
      </div>
      <div class="common-documents-div">
        <div class="common-document" *ngFor="let document of commonDocuments; let i =index" (click)="onCommonChange(i,document.name)" [ngClass]="{ 'blue-background' : document.flag, 'display-none' :commonDocumentType != document.type}">
          <input type="checkbox" [(ngModel)]="document.flag" *ngIf="commonDocumentType == document.type">
          <div class="common-document-name" *ngIf="commonDocumentType == document.type">
          {{ document.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="common-document-upload-head flex" *ngIf="!commonDocumentsFlag">
      <span class="common-document-upload-head-name">Common Documents: </span>
      <div class="selection-button" (click) = "commonAddDocuments()"> Back </div>
    </div>
    <div class="document-upload margin-left-10 margin-top-10 flex full-border height-90" *ngIf="!commonDocumentsFlag">
      <div class="page-sub-semi-header">
        Upload Document :
      </div>
      <div class="upload-documents margin-0">
        <div class="upload-common-documents-div">
        <input
                class="upload-input-common-documents"
                type="file"
                (change)="detectcommonFile($event)"
              id="common-document-id"
              />
        </div>
        <div class="files-div width-auto">
          <div
            class="files"
            *ngIf="commonFile"
            (click)="deleteCommonFile()"
          >
            <mat-icon class="pdf-icon" svgIcon="pdf-icon"></mat-icon>
            <mat-icon
              class="cloud-cross-icon"
              svgIcon="cloud-cross-icon"
            ></mat-icon>
            <p>{{ commonFile.name }}</p>
          </div>
        </div>
        <div class="upload-submission" *ngIf="commonFile">
         <div class="upload-button margin-top-25" (click)="commonDocumentUpload()"> Upload Documents</div>
        </div>
             </div>
             <div class="notarize-button selection-button" (click)="commonDocumentTypeChange('notarized')" [ngClass]="{ 'selection-button-active' :commonDocumentType == 'notarized'}">Notarized</div>
      </div>
    <div class="experiance">
      <div class="experiance-attatchments-head">
        <div class="flex">Experience Documents:
  <!-- <div class="notarize-button selection-button">Notarized</div> -->
  </div>
  <!-- <div class="selection-button"> Add document </div> -->
      </div>
      <div class="experiance-documents-div">
        <div class="experiance-document" *ngFor="let document of experianceDocuemnts; let i = index" (click)="onExperienceChange(i,document.name)"  [ngClass]="{ 'blue-background' : document.flag}">
          <input type="checkbox" [(ngModel)]="document.flag" 
         >
          <div class="experiance-document-name">
          {{ document.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="submission" *ngIf="onceFlag">
    <div class="submission-button" (click)="attatchDocuments()"> Attatch Documents</div>
  </div>
  </div>
