.results {
width: 100%;
overflow-y: scroll;
flex-grow: 1;
margin-top: 50px;
padding-left: 10px;
.result-cards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .result-cards {
        width: 150px;
        height: 75px;
        margin: 5px;
        padding: 7px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        .card-message {
            font-size: 12px;
    margin-top: 5px;
        }
    }
}
.item-prices-div {
    .item-prices-table {
      padding: 5px;
      padding-left: 15px;
      background-color: #F2F2F2;
      margin-top: 10px;
  border-radius: 10px;
  .item-price-head {
    display: flex;
    color: #163a9a;
    font-weight: 600;
  font-size: 14px;
    .item-total-text {
font-size: 18px;
      width: 775px;
      text-align: right;
    }
    .item-discription {
      width: 225px;
      text-align: center;
    }
    .item-price {
      width: 144px;
      text-align: center;
    }
    .item-frieght-charges {
      width: 144px;
      text-align: center;
    }
    .item-other-charges {
      width: 144px;
      text-align: center;
    }
    .gst {
      width: 59px;
      text-align: center;
    }
    .qty {
      width: 59px;
      text-align: center;
    }
    .total {
      width: 140px;
      text-align: center;
      padding-left: 5px;
      .total-input {      
        text-align: center;
        border-radius: 5px;
        height: 22px;
    outline: none;
    width: 135px;
        }
    }
    .total-with-gst {
      width: 140px;
      text-align: center;
      padding-left: 5px;
      .total-with-gst-input {      
        text-align: center;
        border-radius: 5px;
        height: 22px;
    outline: none;
    width: 135px;
        }
    }
  }
  .item-price-div {
    display: flex;
margin-top: 10px;
    .item-discription {
      font-size: 12px;
      width: 225px;
      background: white;
      border-radius: 5px;
    word-break: break-all;
    }
    .item-price {
      padding-left: 5px;
      display: flex;
    justify-content: center;
    align-items: center;
      .item-price-input {
        text-align: center;
        border: none;
        border-radius: 5px;
        height: 25px;
  outline: none;
  width: 135px;
      }
    }
    .item-frieght-charges {
      padding-left: 5px;
      display: flex;
    justify-content: center;
    align-items: center;
    .frieght-charges-input {
      text-align: center;
      border: none;
      border-radius: 5px;
      height: 25px;
outline: none;
width: 135px;
    }
  }
  .item-other-charges {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  .item-other-charges-input {
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 25px;
outline: none;
width: 135px;
  }
}
.gst {
  padding-left: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
  .gst-input {
  text-align: center;
    border: none;
    border-radius: 5px;
    height: 25px;
outline: none;
width: 50px;
  }
}
.qty {
  padding-left: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
  .qty-input {      
  text-align: center;
  border: none;
  border-radius: 5px;
  height: 25px;
outline: none;
width: 50px;
  }
}
.total {
  padding-left: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
  .total-input {      
  text-align: center;
  border-radius: 5px;
  height: 22px;
outline: none;
width: 135px;
  }
}
.total-with-gst {
  padding-left: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
  .total-with-gst-input {      
  text-align: center;
  border-radius: 5px;
  height: 22px;
outline: none;
width: 135px;
  }
}
  }
    }
  }
}   
.background-color-red {
    background-color: darkred;
}
.background-color-red:hover {
    background-color: red;
}
.background-color-green {
    background-color: darkgreen;
}
.background-color-green:hover {
    background-color: green;
}
.background-color-blue {
    background-color: #163a9a;
}
.background-color-blue:hover {
    background-color: #003cd9;
}

.page-sub-header {
    font-size: 18px;
    font-weight: 600;
    color: #163a9a;
    width: 100%;
    border-bottom: solid 1px #163a9a;
  }
  .flex {
    display: flex;
  }
  .space-between {
    justify-content: space-between;
  }