<div class="internal-left-nav-bar">
  <div class="internal-left-nav-bar-fixed">
    <div class="internal-left-nav-bar-header">
      <div class="internal-left-nav-bar-header-name">
        {{ Auth.userData?.displayName }}
      </div>
      <div class="internal-left-nav-bar-header-role">Technical Lead</div>
    </div>
    <div class="internal-left-nav-bar-body">
      <div *ngFor="let category of categories; let i = index">
        <div
          [ngClass]="{
            'internal-left-nav-bar-list': !category.flag,
            'internal-left-nav-bar-list-selected': category.flag
          }"
        >
          <div
            [ngClass]="{
              'internal-left-nav-bar-main-button': !category.flag,
              'internal-left-nav-bar-main-button-selected': category.flag
            }"
            (click)="categoryrSelected(i)"
          >
            <!-- <div (click)="categoryrSelected(i)"> -->
            {{ category.title }}
            <span class="svg-arrow">
              <mat-icon class="icon-poles" svgIcon="arrow"></mat-icon
            ></span>
          </div>
          <div
            *ngFor="let subcategory of category.subcategories; let j = index"
          >
            <div
              [ngClass]="{
                'internal-left-nav-bar-button-selected': subcategory.flag,
                'internal-left-nav-bar-button': !subcategory.flag
              }"
              (click)="subCategoryrSelected(i, j)"
            >
              {{ subcategory.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="internal-left-nav-bar-signout" (click)="Auth.signOut()">
        Sign Out
      </div>

      <div class="internal-left-nav-bar-finance-list" *ngIf="false">
        Technical Lead
      </div>
    </div>
  </div>
</div>
