.main {
  display: flex;
  width: 100%;
  .main-page {
    // width: 100%;
  }
  .internal {
    display: contents;
    margin-left: 230px;
  }
}
::ng-deep app-auth {
  width: 100%;
}
::ng-deep ng-component {
  width: 100%;
  padding-right: 180px;
}

