.main {
  display: flex;
  width: 100%;
  .main-page {
    // width: 100%;
  }
  .internal {
    display: contents;
    margin-left: 230px;
  }
}
app-loading-screen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(257, 257, 257, 0.8);
}
::ng-deep app-auth {
  width: 100%;
}
::ng-deep ng-component {
  width: 100%;
  padding-right: 180px;
}
