<div class="main">
  <div class="header">
    <div class="header-text">New Tender Form:</div>
  </div>
  <div class="body">
    <div class="info-div">
      <div class="info-header">Information</div>
      <div class="info-body">
        <div class="org-div">
          <div class="org-input">
            <select id="orgName" name="orgName">
              <option value="BHEL">Volvo</option>
              <option value="saab">Saab</option>
              <option value="fiat">Fiat</option>
              <option value="audi">Audi</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
